html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.header{
	box-sizing: border-box;
	height: 80px;
	overflow: clip;
	background-color:#20131d;
	padding: 10px 5px;
}

.title {
	display: inline;
	float: left;
	color: rgb(255, 255, 255);
	text-align: center;
	vertical-align: bottom;
	line-height: 45px;
	padding: 10px;
	text-decoration: none;
	font-size: 24px;
	border-radius: 1px;
  }

#histoChart {
    height: 325px;
    width: 475px
}